.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.portfolio__item{
    background: linear-gradient(
        -168.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
      );
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item-img{
  border-radius: 1.5rem;
  overflow: hidden;
  height: 11rem;  

}
.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}
.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.gitlien{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.gitlien:hover{
  text-decoration: underline;
}

/*meddium devices*/
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    
    
 }
 
 /*small devices*/
 @media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

     
 }