.container.contact__container{
    width: 58%;
    display:grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.contact__option{
    background: linear-gradient(
        -168.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
      );
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: all 300ms ease;
    width: 100%;
}
.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}
.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;

}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: white;

}
input::placeholder,textarea::placeholder{
    color: rgb(255, 255, 255,0.7);
}

.div1 {
    display: inline-block;
  }
  .div1:after {
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 6px solid rgb(120, 233, 237);
    border-color: rgb(120, 233, 237) transparent rgb(120, 233, 237) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


 .btn-loader{
    display: flex;
    gap: 20px;
    align-items: center;
 } 



/*meddium devices*/
@media screen and (max-width:1024px){
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
 }
 
 /*small devices*/
 @media screen and (max-width:600px){
    .container.contact__container{
        width: var(--container-width-sm);
    }
    .contact__option{
        width: 60%;
    }
    

     
 }