header{
    height: 100vh;
    overflow: hidden;
    padding-top: 7rem;
    z-index: 2;
    position: relative;
}
.y{
    
    font-size: 3rem;
    font-weight: bolder;
    display: inline-block;
     
}
.y:hover{
    color: var(--color-primary);
}
.header__container{
 text-align: center;
 height: 100%;
 position: relative;

}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.header__socials{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 1rem;
    bottom: 3rem;
}
.fiverr{
    font-size: 2rem;
}
.header__socials::after{
    content: "";
    height: 2rem;
    width: 1px;
    background-color: var(--color-primary);
}

.me{
    background: linear-gradient(var(--color-primary),transparent    );
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 15rem);
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.me img{
    border-radius: 1rem;
}
.scroll__down{
    position: absolute;
    right: 2rem;
    bottom: 8rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}
.text-light{
    
}

/*meddium devices*/
@media screen and (max-width:1024px){
    header{
        height: 68vh;
    }
    .me{
        height: 25rem;
        width: 25rem;
    }
}

/*small devices*/
@media screen and (max-width:1100px){
    header{
        height: 100vh;
    }
    .y{
        font-size: 2rem;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
    .me{
        height: 20rem;
        width: 20rem;
        left: calc(50% - 10rem); 
    }
}


.canvas{

}

.canvas-div{
  width: 100%;  
  height: 100vh;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;

}