# name: CI

# on:
#   push:
# jobs:
#    check:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - name: Verify files exist
#         run: |
#           test -f package.json
#           echo "package.json exists"
  name: CI

  on:
    push:

  jobs:
    build_and_test:
      runs-on: ubuntu-latest

      steps:
        
        - uses: actions/checkout@v4

      
        - name: Use Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 18
            cache: 'npm' 

       
        - name: Install dependencies
          run: npm install

    
        - name: Run tests
          run: npm test -- --watch=false

       
