# # name: CI

# # on:
# #   push:
# # jobs:
# #    check:
# #     runs-on: ubuntu-latest
# #     steps:
# #       - uses: actions/checkout@v4
# #       - name: Verify files exist
# #         run: |
# #           test -f package.json
# #           echo "package.json exists"
#   # name: CI

#   # on:
#   #   push:

#   # jobs:
#   #   build_and_test:
#   #     runs-on: ubuntu-latest

#   #     steps:
        
#   #       - uses: actions/checkout@v4

      
#   #       - name: Use Node.js
#   #         uses: actions/setup-node@v4
#   #         with:
#   #           node-version: 18
#   #           cache: 'npm' 

       
#   #       - name: Install dependencies
#   #         run: npm install

    
#   #       - name: Run tests
#   #         run: npm test -- --watch=false

       
# on:
#   push:

# jobs:
#   docker:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read
#       packages: write
#     steps:
#       - uses: actions/checkout@v4

#       - name: Log in GHCR
#         uses: docker/login-action@v2
#         with:
#           registry: ghcr.io
#           username: ${{ github.actor }}
#           password: ${{ secrets.GITHUB_TOKEN }}

#       - name: Build and push Docker image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: |
#               ghcr.io/yahiaxxx/test-files:latest
#               ghcr.io/yahiaxxx/test-files:${{ github.sha }}


# on:
#   push:

# jobs:
#   docker:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read
#       packages: write
#     steps:
#       - uses: actions/checkout@v4

#       - name: Log in GHCR
#         uses: docker/login-action@v2
#         with:
#           registry: ghcr.io
#           username: ${{ github.actor }}
#           password: ${{ secrets.GITHUB_TOKEN }}

#       - name: Build and push Docker image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: |
#             ghcr.io/${{ ToLower(github.repository)}}:latest
#             ghcr.io/${{ ToLower(github.repository)}}:${{ github.sha }}
    



on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      # - name: Log in GHCR
      #   uses: docker/login-action@v2
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Set lowercase repo name
      #   id: repo
      #   run: echo "REPO_LOWER=$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     push: true
      #     tags: |
      #       ghcr.io/${{ env.REPO_LOWER }}:latest
      #       ghcr.io/${{ env.REPO_LOWER }}:${{ github.sha }}

      # - name: Setup npm registry
      #   run: |
      #    echo "registry=https://trialsga2025.jfrog.io/artifactory/api/npm/sga-npm/" > .npmrc
      #    echo "//trialsga2025.jfrog.io/artifactory/api/npm/sga-npm/:_authToken=${{ secrets.ARTIFACTORY_TOKEN }}" >> .npmrc    

      # # Standard Node.js workdflow...
      # - name: Install dependencies
      #   run: npm ci  # Uses Artifactory for downloads
      # - name: Build
      #   run: CI=false npm run build
      # - name: Test
      #   run: npm test
      # - name: Publish package
      #   if: github.ref == 'refs/heads/main'
      #   run: npm publish

      - name: Login to Artifactory
        uses: docker/login-action@v3
        with:
          registry: trialsga2025.jfrog.io
          username: ${{ secrets.ARTIFACTORY_USER }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}
      
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            trialsga2025.jfrog.io/sga-docker-local/my-app:${{ github.sha }}
            trialsga2025.jfrog.io/sga-docker-local/my-app:latest  