# name: Check JFrog Token

# on:
#   workflow_dispatch:
#   schedule:
#     - cron: "0 5 * * *"
# permissions:
#   issues: write 
# jobs:
#   check:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Extract token ID
#         id: check
#         run: |
#           TOKEN="${{ secrets.JFROG_PASSWORD  }}"
          
#           # Decode base64
#           DECODED=$(echo "$TOKEN" | base64 --decode)
          
#           # Format: reftkn:01:<expiry_epoch_seconds>:<random>
#           EXPIRY_EPOCH=$(echo "$DECODED" | cut -d ':' -f3)
          
#           NOW=$(date +%s)
#           DIFF=$((EXPIRY_EPOCH - NOW))
#           DAYS_LEFT=$((DIFF / 86400))
          
#           echo "days_left=$DAYS_LEFT" >> $GITHUB_OUTPUT
#           echo "Token expires in $DAYS_LEFT days"
#       - name: Create GitHub issue if token is near expiry
#         if: ${{ steps.check.outputs.days_left <= 7 }}
#         uses: actions/github-script@v6
#         with:
#           github-token: ${{ secrets.GITHUB_TOKEN }}
#           script: |
#             await github.rest.issues.create({
#               owner: context.repo.owner,
#               repo: context.repo.repo,
#               title: `JFrog Token Expiring Soon`,
#               body: `Your JFrog access token will expire in **${{ steps.check.outputs.days_left }} days**. Please renew it.`,
#             });
#       - name: Renew JFrog token if expired
#         id: renew
#         #if: ${{ steps.check.outputs.days_left <= 0 }}
#         run: |
#           echo "Token expired, generating new token..."
          
#           # JFrog credentials (stored in GitHub Secrets)
#           JFROG_USER="${{ secrets.JFROG_USER }}"
#           JFROG_PASSWORD="${{ secrets.JF_ACCESS_TOKEN }}"
#           JFROG_URL="${{ secrets.JFROG_PLATFORM_URL }}"

#           # Create new token (Set-Me-Up style)
#           RESPONSE=$(curl -s -H "Authorization: Bearer $JFROG_PASSWORD" -X POST "$JFROG_URL/access/api/v1/tokens" \
#             -H "Content-Type: application/json" \
#             -d '{
#                   "username": "'"$JFROG_USER"'",
#                   "scope": "artifact:ne3na3-nuget:r,w",
#                   "expires_in": 86400
#                 }')

#           # Extract token from JSON
#           NEW_TOKEN=$(echo "$RESPONSE" | jq -r '.access_token')
          
#           echo "new_token=$NEW_TOKEN" >> $GITHUB_OUTPUT
      
#       - name: Install GitHub CLI
#         run: |
#           sudo apt-get update
#           sudo apt-get install -y gh

#       - name: Authenticate GitHub CLI
#         run: |
#           echo "${{ secrets.GH_PAT }}" | gh auth login --with-token

#       - name: Create or update secret
#         run: |
#           gh secret set JFROG_PASSWORD --body ${{ steps.renew.outputs.new_token }} --repo ${{ github.repository }}