# name: Update Repository Secret

# on:
#   workflow_dispatch:

# jobs:
#   update-secret:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Install GitHub CLI
#         run: |
#           sudo apt-get update
#           sudo apt-get install -y gh

#       - name: Authenticate GitHub CLI
#         run: |
#           echo "${{ secrets.GH_PAT }}" | gh auth login --with-token

#       - name: Create or update secret
#         run: |
#           gh secret set MY_NEW_SECRET --body "my-new-secret-value" --repo ${{ github.repository }}